<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31310399267-a4bapekrqvdhp640hvr976eskq4jid30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31310399267-a4bapekrqvdhp640hvr976eskq4jid30</string>
	<key>API_KEY</key>
	<string>AIzaSyDW59AAqcrOvw2LOYKga1kMNWW-K9pVOas</string>
	<key>GCM_SENDER_ID</key>
	<string>31310399267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyWeather</string>
	<key>PROJECT_ID</key>
	<string>authen-firebase-b5805</string>
	<key>STORAGE_BUCKET</key>
	<string>authen-firebase-b5805.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31310399267:ios:ebf348a0e472dc69be2e96</string>
	<key>DATABASE_URL</key>
	<string>https://authen-firebase-b5805.firebaseio.com</string>
</dict>
</plist>